/****************************************************
Sub-Section: Services-detailed (Hidden)
****************************************************/
/*
.services-detailed h2 {
margin: 8rem 3.2rem 3.2rem 0;
font-size: 4.4rem;
font-weight: 600;
}

.service-detailed-grid {
display: grid;
grid-template-columns: repeat(10, 1fr);
width: 90%;
margin: 0 auto;
}

.service-detailed-grid p {
grid-column: 1 /-1;
font-size: 3.6rem;
font-weight: 600;
margin: 8rem 0 4.8rem 0;
text-align: center;
}

.service-detailed-grid img {
width: 100%;
overflow: visible;
border-radius: 1.2rem;
align-self: center;
}
.service-detailed-grid div {
display: flex;
flex-direction: column;
align-self: center;

font-size: 2.4rem;
padding: 5% 10%;
line-height: 1.5;
}

.service-detailed-grid img:nth-of-type(even) {
grid-column: 1 / 5;
}

.service-detailed-grid div:nth-of-type(even) {
grid-column: 5 /-1;
}

.service-detailed-grid div:nth-of-type(odd) {
grid-column: 1 / 7;
}

.service-detailed-grid img:nth-of-type(odd) {
grid-column: 7 / -1;
}


<div class="services-detailed">
    <h2>What is included in our cleaning services</h2>
</div>
<div class="service-detailed-grid">
    <p>Kitchens</p>
    <div>
        <ul>
            <li>Clean sink</li>
            <li> Vacuum and mop floors</li>
            <li> Wash dishes or load dishwasher</li>
            <li> Wipe handles and switches</li>
            <li> Take out rubbish</li>
            <li> Wipe exterior of kitchen cupboard even fridge</li>
            <li> Clean microwave interior + exterior</li>
            <li> Wipe countertops</li>
            <li> Laundry (if requested)</li>
        </ul>
    </div>
    <img src="/Round2/img/services/dusting2.jpg" alt="">

    <p>Bathrooms</p>
    <img src="/Round2/img/services/dusting2.jpg" alt="">
    <div>
        <ul>
            <li>Scrub shower, bath, sink</li>
            <li> Empty rubbish bins</li>
            <li>Clean toilet</li>
            <li> Clean cabinet exterior, mirrors</li>
            <li> Vacuum and mop floors</li>
            <li> Dusting all surfaces</li>
        </ul>
    </div>


    <p>Bedrooms</p>
    <div class="service-detailed-textbox">
        <ul>
            <li> Clean mirrors</li>
            <li>Wipe handles, doors, switches</li>
            <li> Taking out rubbish</li>
            <li> Vacuum and mop floors</li>
            <li> Dust and wipe accessible surface</li>
            <li> Organise and fold your clothes</li>
            <li> Cleaners will tidy the bed</li>
        </ul>
    </div>
    <img src="/Round2/img/services/dusting2.jpg" alt="">


    <p>living Areas</p>
    <img src="/Round2/img/services/dusting2.jpg" alt="">
    <div>
        <Clean>
            <li>Clean mirrors / windows (inside)</li>
            <li> Wipe switches and handles</li>
            <li> Vacuum and mop floors</li>
            <li>Cleaning the doors</li>
            <li>Wipe all accessible glass</li>
            <li> Dusting the furniture and surfaces</li>
            </ul>
    </div>
</div> */
/***********************/

/* The container for the nav burger */
.nav-menu__box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  /* transition: all 0.5s ease-in-out; */
}

.nav-menu-btn__text {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* Create the burger icon */
/* Create middle line / PARENT */
.nav-menu-btn__burger {
  width: 4rem;
  height: 0.6rem;
  background-color: white;
  border-radius: 0.5rem;
  transition: transform 5s ease-in-out;
}

/* create top/bottom line */
.nav-menu-btn__burger::before,
.nav-menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.6rem;
  background-color: white;
  border-radius: 0.5rem;
  transition: all 0.5s linear 0.25s;
}

/* position top/bottom line */
.nav-menu-btn__burger::before {
  transform: translateY(-1rem);
}
.nav-menu-btn__burger::after {
  transform: translateY(1rem);
}

/* animate burger NOTE: JS added to toggle menu open/closed */

/* open */
.nav-menu__box.open .nav-menu-btn__burger {
  animation: fade 0.5s linear;
  animation-fill-mode: forwards;
}

.nav-menu__box.open .nav-menu-btn__burger::before {
  animation: openBurgerTop 0.5s linear;
  animation-fill-mode: forwards;
}

.nav-menu__box.open .nav-menu-btn__burger::after {
  animation: openBurgerBottom 0.5s linear;
  animation-fill-mode: forwards;
}

.nav-menu__box.close .nav-menu-btn__burger {
  animation: fade 0.5s linear reverse;
  animation-fill-mode: forwards;
}

.nav-menu__box.close .nav-menu-btn__burger::before {
  animation: openBurgerBottom 0.5s linear reverse;
  animation-fill-mode: forwards;
}
.nav-menu__box.close .nav-menu-btn__burger::after {
  animation: openBurgerTop 0.5s linear reverse;
  animation-fill-mode: forwards;
}

@keyframes fade {
  100% {
    background: none;
  }
}
@keyframes openBurgerTop {
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: rotate(45deg) translateY(0rem);
  }
}
@keyframes openBurgerBottom {
  50% {
    transform: translateY(0rem);
  }
  100% {
    transform: rotate(-45deg) translateY(0rem);
  }
}

/* fullscreen menu */
.nav-menu__fullscreen-menu {
  display: none;
}

.nav-menu__fullscreen-menu.open {
  display: block;
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  background-color: #292b23;
  z-index: 1;
}

.nav-menu__fullscreen-menu-list {
  margin: auto;
}
/* .nav-menu__fullscreen-menu {
  background-color: green;
  color: purple;
} */
