* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Default font size to 10px  10/16 = 62.5 */
  position: relative;
}

body {
  position: relative;
  font-family: "Playfair Display";
  line-height: 1;
  font-weight: 400;
  background-color: #ecfcfc;
  font-size: 1.2rem;
  color: #021616;
}

/*****************************/
/*      Section: header      */
/*****************************/

/******************************/
/*           Main Nav         */
/******************************/

header {
  position: relative;
  z-index: 7;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  background-image: linear-gradient(
      220deg,
      rgba(16, 16, 16, 0) 0%,
      rgba(16, 16, 16, 0.3) 20%,
      rgba(16, 16, 16, 0.5) 60%
    ),
    url("/Round2/img/Hero/pexels-mart-production-7491189.jpg");
  background-position: 0px 0px, 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.header-container {
  width: 100vw;
}

.header-container,
.header-container *,
.section-hero,
.section-hero * {
  color: #ecfcfc;
  text-decoration: none;
}

.main-nav {
  position: fixed;
  z-index: 7;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  color: #ecfcfc;
}

.img-logo {
  width: 12rem;
  height: auto;
  filter: brightness(0) invert(1);
}

.sticky-bar {
  position: sticky;
  z-index: 5;
  top: -1px;
  margin-top: -10.5rem;
  height: 10.5rem;
  background-color: rgba(10, 109, 109);
  box-shadow: 0px 0px 10px 5px rgba(2, 22, 22, 0.7);
}

/**************************************************/
/******************* BURGER ICON *******************/
/******** The container for the nav burger ********/
/**************************************************/

/* The container for the nav burger */
.nav-menu__box {
  position: relative;
  z-index: 10;
  display: flex;
  width: fit-content;
  justify-content: stretch;
  align-items: top;
  gap: 1rem;
  cursor: pointer;
  padding: 15px 45px 5px 5px;
}

.nav-menu-btn__text {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -15%;
}

/* Create the burger icon */
.nav-menu-btn__burger::before,
.nav-menu-btn__burger::after,
.nav-menu-btn__burger div {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.6rem;
  background-color: #ecfcfc;
  border-radius: 0.5rem;
}

/* position top/bottom line */
.nav-menu-btn__burger::before {
  transform: translateY(-1rem);
}
.nav-menu-btn__burger::after {
  transform: translateY(1rem);
}

/* animate burger NOTE: JS added to toggle menu open/closed */
/* open */
.nav-menu__box.open .nav-menu-btn__burger div {
  animation: nav-compress 0.3s linear;
  animation-fill-mode: forwards;
}

.nav-menu__box.open .nav-menu-btn__burger::before {
  animation: openBurgerTop 0.3s linear;
  animation-fill-mode: forwards;
}

.nav-menu__box.open .nav-menu-btn__burger::after {
  animation: openBurgerBottom 0.3s linear;
  animation-fill-mode: forwards;
}

.nav-menu__box.close .nav-menu-btn__burger div {
  animation: nav-compress 0.3s linear reverse;
  animation-fill-mode: forwards;
}

.nav-menu__box.close .nav-menu-btn__burger::before {
  animation: openBurgerBottom 0.3s linear reverse;
  animation-fill-mode: forwards;
}

.nav-menu__box.close .nav-menu-btn__burger::after {
  animation: openBurgerTop 0.3s linear reverse;
  animation-fill-mode: forwards;
}

@keyframes nav-compress {
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes openBurgerTop {
  30% {
    transform: translateY(0rem);
  }
  70% {
    transform: translateY(0rem);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes openBurgerBottom {
  30% {
    transform: translateY(0rem);
  }
  70% {
    transform: translateY(0rem);
  }
  100% {
    transform: rotate(-45deg);
  }
}

/* fullscreen menu */
.nav-menu__fullscreen {
  position: fixed;
  z-index: 9;
  flex-direction: column;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(10, 109, 109);
  display: none;
}

.nav-menu__fullscreen.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-menu__fullscreen-menu {
  position: absolute;
  top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 5rem;
  width: 90%;
  height: 80%;
}

.nav-fullscreen-leftCol {
  width: 50%;
  margin: 0 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 5rem;
}

.nav-fullscreen-leftCol .img-logo {
  width: 80%;
  margin-bottom: 2.5rem;
}

.nav-fullscreen-leftCol p {
  font-size: 4.4rem;
  font-weight: 700;
  list-style: none;
  line-height: 1.6;
  text-align: center;
}

.nav-fullscreen-rightCol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  border-left: 0.2rem solid rgba(255, 255, 255, 0.3);
  padding-left: 10rem;
  margin-bottom: 10rem;
  height: 100%;
}

.nav-list-item {
  text-transform: uppercase;
  list-style: none;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.6;
}

.nav-menu__fullscreen-menu-bottom {
  width: 50%;
  margin: 0 auto;
  grid-column: 1/-1;
  text-align: center;
}

.nav-menu__fullscreen-menu-bottom p {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
}
.social-icons {
  width: 3.2rem;
  height: 3.2rem;
  margin: 2.4rem;
}

/**************************************************************************/
/*************************Sticky Contact Us button*************************/
/**************************************************************************/
.contact-form-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  bottom: 0rem;
  right: 5rem;
  transform: translateY(81%);
  transition: all 0.5s ease-in-out;
  background-color: rgb(10, 109, 109);
  border-radius: 1.6rem 1.6rem 0 0;
  padding: 2.5rem 2.4rem 2.5rem 2.4rem;
  z-index: 9;
  width: 25rem;
}

.contact-form-container.open {
  transform: translateY(0%);
  transition: all 0.5s ease-in-out;
  width: 50rem;
}

.contact-form-container.open .close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 4.4rem;
  color: rgba(236, 252, 252, 0.725);
}

.contact-form-container h3 {
  color: white;
  text-align: center;
  margin-bottom: 2.4rem;
  font-weight: 700;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

.user-form input,
.user-form textarea {
  width: 100%;
  background-color: #ecfcfc;
  border: none;
  padding: 1rem 2rem;
}

.user-form input::placeholder,
.user-form textarea::placeholder {
  color: rgba(2, 22, 22, 0.7);
}

textarea {
  resize: none;
}

/*****************************/
/*       Section: Hero       */
/*****************************/

.section-hero {
  position: absolute;
  top: 5vh;
  height: 80vh;
  width: 55vw;
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 5%;
  margin-bottom: 8rem;
}

.hero-text-box {
  position: relative;
  z-index: 8;
  padding-left: 4rem;
}

.hero-text-box.hide {
  display: none;
}

.hero-text-box h1 {
  font-size: 7.4rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  margin-bottom: 4.8rem;
  z-index: 10;
}

.hero-text-box p {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 3.2rem;
  line-height: 1.2;
  z-index: 10;
}

/*******************************/
/*      Section: Services      */
/*******************************/

.section-services {
  width: 65%;
  min-height: 100%;
  margin: 20rem auto 12.8rem auto;
}

.service-level-box {
  width: 50%;
  display: flex;
  margin: 0 auto;
  border: 0.2rem solid rgba(10, 109, 109);
  border-radius: 1.6rem;
}

.service-helpertext {
  font-size: 2.4rem;
  font-weight: 550;
  text-align: center;
  margin-bottom: 2.4rem;
}

.btn-service {
  text-align: center;
  font-size: 3rem;
  font-weight: 550;
  letter-spacing: 0.1rem;
  width: 45%;
  color: #222;
  border-radius: 1.6rem 0 0 1.6rem;
  width: 50%;
}

.service-level-box div:last-child {
  border-radius: 0 1.6rem 1.6rem 0;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem;
  padding: 3.2rem;
  margin: 0 auto;
}

.service-list-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 2px 3px 10px 2px rgba(182, 211, 211, 0.7);
  cursor: pointer;
  padding: 1.5rem;
}

.service-list-item img {
  width: 100%;
  border-radius: 1.2rem;
  margin-bottom: 15px;
}

.service-list-item p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  margin: 5%;
}

.service-list-item li {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0 2rem;
  margin-left: 0.5rem;
}

/*******************************************/
/*      Sub-Section: Services-detailed     */
/*******************************************/

.services-detailed {
  margin: 8rem 3.2rem 6.4rem 0;
}

.service-detailed-grid {
  display: grid;
  column-gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
}

.service-detailed-grid img {
  width: 100%;
  overflow: visible;
  border-radius: 1.2rem;
}
.service-detailed-grid div {
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
  line-height: 1.5;
}

.service-detailed-grid .service-list-item {
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 2px 3px 10px 2px rgba(182, 211, 211, 0.7);
  background-color: #ecfcfc;
  cursor: pointer;
  padding: 5%;
}

/***************************/
/*      Section: about     */
/***************************/

.section-about {
  width: 65%;
  margin: 0 auto 8rem auto;
}

.why-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6rem;
  row-gap: 3rem;
  margin-top: 4.8rem;
}

.why-item {
  text-align: center;
}

.icon-why {
  color: rgba(10, 109, 109);
  width: 3.2rem;
  height: 3.2rem;
  margin-bottom: 0 auto;
  display: inline-block;
  background-color: rgba(10, 109, 109, 0.2);
  border-radius: 50%;
  padding: 2.4rem;
}
.why-label {
  font-size: 2rem;
  font-weight: 600;
  margin: 3rem 0 1.6rem 0;
}

.why-text {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}

/****************************/
/******* Testimonials *******/
/****************************/

.section-testimonial {
  width: 100%;
  padding-top: 4rem;
}

.section-testimonial h3 {
  text-align: center;
}

.testimonial-box {
  position: relative;
  width: 50%;
  margin: 0 auto 3rem auto;
  padding: 4rem 8rem;
  background-color: #ecfcfc;
  color: rgba(10, 109, 109, 0.95);
  border-radius: 1.6rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  box-shadow: 2px 3px 10px 2px rgba(182, 211, 211, 0.7);
}

.testimony-img {
  border-radius: 50rem;
  max-width: 10%;
}

.testimony-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
}

.testimony-name {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2;
}

.testimony-title {
  margin-top: -1.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(10, 109, 109, 0.685);
}

.testimony-btn {
  position: absolute;
  font-size: 4.8rem;
  border-radius: 50rem;
  padding: 0.5rem;
  background-color: #ecfcfc;
  color: rgba(10, 109, 109, 0.685);
  box-shadow: 2px 3px 10px 2px rgba(182, 211, 211, 0.7);
  margin: 0 6rem;
  top: 50%;
  transform: translateY(-50%);
}

.testimony-nav-left {
  left: -9rem;
}

.testimony-nav-right {
  right: -9rem;
}

.testimony-count-icons-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 3rem;
}

.testimony-count-icons {
  border: 0.2rem solid #ecfcfc;
  height: 2rem;
  width: 2rem;
  border-radius: 50rem;
}

.testimony-count-icons.active {
  background-color: #ecfcfc;
}

/*************************************/
/********** Section: Footer **********/
/*************************************/

.section-footer {
  width: 100%;
  padding-bottom: 5px;
  background: linear-gradient(166deg, #053737 -30%, #010b0b 80%, #053737 200%);
  padding: 4.8rem;
}

.footer-wrapper {
  color: white;
  gap: 4.8rem;
  display: flex;
  justify-content: space-between;
  max-height: 80rem;
}

.footer-address-box {
  list-style: none;
  line-height: 1.4;
  font-size: 1.6rem;
  flex-shrink: 0;
}

.footer-address-box li:first-child,
.footer-aboutus-text p:first-child {
  font-weight: 800;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

.footer-aboutus-text p:last-child {
  text-align: left;
}

.footer-address-box li:nth-child(3),
.footer-address-box li:nth-child(4),
.footer-address-box li:nth-child(6) {
  margin-bottom: 0.8rem;
}

.footer-wrapper .social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-social-icons {
  font-size: 6.2rem;
  margin: 1.6rem auto;
  color: #ecfcfc;
}

.discount {
  flex-shrink: 0;
  width: 25%;
  gap: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  text-align: center;
  font-weight: 400;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
  letter-spacing: 0.2rem;
  line-height: 1.2;
}

.discount p:nth-child(odd) {
  font-weight: 800;
  font-size: 3rem;
}

.client-logo-box {
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.8rem;
  filter: grayscale(1);
}

.client-logo-box img {
  min-width: 10rem;
  max-width: 20%;
  height: auto;
  border-radius: 1.6rem;
}

/*
 - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
- Line heights
Default: 1 / Small: 1.05 / Medium: 1.2 / Paragraph default: 1.6
*/

/**********************/
/*     Hero video     */
/**********************/
/* video {
  object-fit: cover;
  height: 70vh;
  width: 100%;

  position: absolute;
  top: -5rem;
  left: 0;
  z-index: 1;
}

.video-wrapper {
  position: relative;

}

.video-wrapper::after {
  content: "";
  height: 70vh;
  width: 100%;

  position: absolute;
  top: -5rem;
  left: 0;
  background-image: linear-gradient(
    rgba(51, 51, 51, 0.3),
    rgba(51, 51, 51, 0.3)
  );
  z-index: 1;
} */
